  <%= render partial:"home/navbar" %>
  <br><br><br>
<%= image_tag("mainlogo.png",:class => "styler3", :alt => "sujin's") %>
<br><br>
<h4>중복된 이메일이 있어유 ㅠ.ㅠ</h4>
<h4> 아님 이미 가입한거 아닐까요..?</h4>
<h5> 나가면 안되요ㅜㅜㅜ 다시한번만 가입해줘용</h5>
<br>
<div style="text-align: center">
<a href="/login">로그인 하기</a>
</div>
<br>
<div style="text-align: center">
<a href="/user/sign_up">회원가입 하기</a>
</div>
<br><br><br><br><br>
<style>
    h4, h5{
    text-align:center;
    }
    	.styler3{
		    display: block;
    	margin-left: auto;
    	margin-right: auto;
		width:280px;
	}
</style>
