

  <!-- Indicators -->

  <!-- Wrapper for slides -->

  <!-- Left and right controls -->



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	<div class="item spec">
     <a href="https://m.store.naver.com/restaurants/detail?id=37488846&query=%EC%88%98%EC%A7%80%EC%B9%98%ED%82%A8%EB%B9%84%EC%96%B4%EB%B6%80%EB%8C%80%EC%B0%8C%EA%B0%9C&entry=plt">

	 <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban1.png" alt="banner1">
    </a>
    </div>
<div class="item spec">
	<a href="https://m.store.naver.com/restaurants/detail?id=34107291&query=%EC%84%9C%EA%B5%90%EC%83%81%ED%9A%8C&entry=plt">

	
<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban2.png" alt="banner2">
    </a>
    </div>
<div class="item spec">
	<a href="https://m.store.naver.com/restaurants/detail?id=153164584&query=1987%20%EB%A3%A8%ED%94%84%ED%83%91%EB%9D%BC%EC%9A%B4%EC%A7%80&entry=plt">

	<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban3.png" alt="banner3">
    </a>
    </div>
<div class="item spec">
	<a href="https://m.store.naver.com/restaurants/detail?id=36410568&query=%EC%82%B0%EC%98%A4%EC%A7%95%EC%96%B4%EC%96%91%ED%91%BC%EB%AC%B4%EC%B9%A8&entry=plt
">	
 <img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban4.png" alt="banner4">
    </a>
    </div>
<div class="item spec">
<a href="https://m.store.naver.com/restaurants/detail?id=37249953&query=%ED%99%8D%EB%A7%9B%EC%88%A0&entry=plt
">

	<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban5.png" alt="banner5">
    </a>
    </div>
<div class="item spec">
<a href="https://m.store.naver.com/restaurants/detail?id=37880035">

	<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/ban6.png" alt="banner6">
    </a>
    </div>

  </div>

  <!-- Left and right controls -->

</div>

<style>
.carousel .spec {
  height: 100px;
}

.spec img {
    margin: auto;
    top: 0;
    left: 0;
    min-height: 100px;
}    

</style>


<script type="text/javascript">
$('.spec').eq(Math.floor((Math.random() * $('.spec').length))).addClass("active");

</script>




