<div class="category text-center">
    <span class="CATEGORY num_1" id="category-1">
        전 체 보 기
    </span>
    <span class="CATEGORY num_2" id="category-2">
        패&nbsp;&nbsp;션
    </span>
    <span class="CATEGORY num_3" id="category-3">
        연&nbsp;&nbsp;애
    </span>
    <span class="CATEGORY num_4" id="category-4">
        제&nbsp;&nbsp;품
    </span>
    <br>
    <span class="CATEGORY num_5" id="category-5">
        맛&nbsp;&nbsp;집
    </span>
    <span class="CATEGORY num_6" id="category-6">
        게&nbsp;&nbsp;임
    </span>
    <span class="CATEGORY num_7" id="category-7">
        학 업 / 진 로
    </span>
    <span class="CATEGORY num_8" id="category-8">
        스 포 츠
    </span>
</div>
<style>
    .category{
        margin-top:15px;
        text-align:center;
    }
    .CATEGORY{
        cursor: pointer;
        margin-top:17px;
        display:inline-block;
        text-align:center;
        width: 100px;
        height:30px;
        border-radius: 100px;
        border: solid 2px #54c8ff;
        margin-left:8px;
        font-family: Lato;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #54c8ff;
        vertical-align:sub;
        padding-bottom:1px;
        padding-top:4px;

    }
    .CATEGORY-TEXT {
        display:inline-block;
        vertical-align:sub;
        width: 86px;
        height: 19px;
        font-family: Lato;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #54c8ff;
    }
    span.CATEGORY{
        margin-left: 30px;
        margin-right: 30px;
    }
    /*색상 값*/
    
    /*전체보기*/
    span.CATEGORY.num_1{
        background-color:transparent;
        border: solid 2px #5d5c60;
        color:#5d5c60;
    }
    span.CATEGORY.num_1.active, span.CATEGORY.num_1:active, span.CATEGORY.num_1:hover{
        background-color:#5d5c60;
        border: solid 2px #5d5c60;
        color:white;
    }
    /*패션*/
    span.CATEGORY.num_2{
        background-color:transparent;
        border: solid 2px #FC6E51;
        color:#FC6E51;
    }
    span.CATEGORY.num_2.active, span.CATEGORY.num_2:active, span.CATEGORY.num_2:hover{
        background-color:#FC6E51;
        border: solid 2px #FC6E51;
        color:white;
    }
    /*연애*/
    span.CATEGORY.num_3{
        background-color:transparent;
        border: solid 2px #ED5565;
        color:#ED5565;
    }
    span.CATEGORY.num_3.active, span.CATEGORY.num_3:active, span.CATEGORY.num_3:hover{
        background-color:#ED5565;
        border: solid 2px #ED5565;
        color:white;
    }
    /*제품*/
    span.CATEGORY.num_4{
        background-color:transparent;
        border: solid 2px #5D9CEC;
        color:#5D9CEC;
    }
    span.CATEGORY.num_4.active, span.CATEGORY.num_4:active, span.CATEGORY.num_4:hover{
        background-color:#5D9CEC;
        border: solid 2px #5D9CEC;
        color:white;
    }
    /*맛집*/
    span.CATEGORY.num_5{
        background-color:transparent;
        border: solid 2px #FFCE54;
        color:#FFCE54;
    }
    span.CATEGORY.num_5.active, span.CATEGORY.num_5:active, span.CATEGORY.num_5:hover{
        background-color:#FFCE54;
        border: solid 2px #FFCE54;
        color:white;
    }
    /*게임*/
    span.CATEGORY.num_6{
        background-color:transparent;
        border: solid 2px #AC92EC;
        color:#AC92EC;
    }
    span.CATEGORY.num_6.active, span.CATEGORY.num_6:active, span.CATEGORY.num_6:hover{
        background-color:#AC92EC;
        border: solid 2px #AC92EC;
        color:white;
    }
    /*학업/진로*/
    span.CATEGORY.num_7{
        background-color:transparent;
        border: solid 2px #A0D468;
        color:#A0D468;
    }
    span.CATEGORY.num_7.active, span.CATEGORY.num_7:active, span.CATEGORY.num_7:hover{
        background-color:#A0D468;
        border: solid 2px #A0D468;
        color:white;
    }
    /*스포츠*/
    span.CATEGORY.num_8{
        background-color:transparent;
        border: solid 2px #48CFAD;
        color:#48CFAD;
    }
    span.CATEGORY.num_8.active, span.CATEGORY.num_8:active, span.CATEGORY.num_8:hover{
        background-color:#48CFAD;
        border: solid 2px #48CFAD;
        color:white;
    }

    
</style>