<div class="container-fluid">
	<%= render partial:"home/navbar" %>
	<%= render partial:"home/banner" %>
	<div class="container">
		<div class="row col-md-offset-4 col-md-4">
			<%= render 'form', board: @board %>
		</div>
</div>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<style>
.btn.btn-default{
	background-color: #ee4065;
	border-color: #ee4065;
	color: white;
}
</style>
