<a href="index.html.erb#num1" class="jujumlist btn btn-primary">수지치킨비어부대찌개</a>
    <a href="index.html.erb#num2" class="jujumlist btn btn-primary">서교상회</a>
    <a href="index.html.erb#num3" class="jujumlist btn btn-primary">1987루프탑라운지</a>
    <a href="index.html.erb#num4" class="jujumlist btn btn-primary">산오징어양푼무침</a>
    <a href="index/#num5" class="jujumlist btn btn-primary">홍맛술</a>
