  <%= render partial:"home/navbar" %>
  <%= render partial:"home/banner" %>
  <br>
  <div class="container-fluid">
      <div class="container">
          
<hr>
<h4>홍대생이 추천하는 술집리스트</h4>
<div class="jujum_mainlist">
    <%= render partial:"jujumlist-name" %>
</div>
<hr>
<div class="jujum-body" id="num1">
<h3 style="margin-left:10px; margin-bottom:20px;">서교상회</h3>
<div class="jujum-content">
    
<p><strong>소개글</strong> : 연탄불고기와 우동이 맛있는 홍대 가성비 술집 </p>
<p><strong>운영시간</strong> : 매일 17:00 - 05:00 </p>
<p><strong>대표메뉴</strong> : 북성로 명물(대) 19,000원 / 불쭈꾸미+불고기 25,000원</p>
</div>
<div class="bottom-button">
        <a href="https://m.store.naver.com/restaurants/detail?id=34107291&entry=plt&query=%EC%84%9C%EA%B5%90%EC%83%81%ED%9A%8C&tab=fsasReview" class="btn btn-primary "><i class="glyphicon glyphicon-map-marker"></i>술집 위치 보기</a>
</div>

<hr>
	<img src="https://s3.ap-northeast-2.amazonaws.com/nolnol/image_source/num2_image.jpg" class="imagesize">
<hr>
</div>
</div>
</div>

