  <%= render partial:"home/navbar" %>
  <%= render partial:"home/banner" %>
  <br>
  <div class="container-fluid">
      <div class="container">
          
<hr>
<h4>홍대생이 추천하는 술집리스트</h4>
<div class="jujum_mainlist">
    <%= render partial:"jujumlist-name" %>
</div>
<hr>

<div class="jujum-body" id="num1">
<h3>술애타자</h3>
    <div class="jujum-content">
        <p><strong>소개글</strong> :  </p>
        <p><strong>운영시간</strong> : 12:00 ~ 21:00 </p>
        <p><strong>대표메뉴</strong> : 순대국밥 7,000원 </p>
    </div>
<div class="bottom-button">
    <a href="https://store.naver.com/restaurants/detail?id=37912260" class="btn btn-primary "><i class="glyphicon glyphicon-map-marker"></i>술집 위치 보기</a>
</div>
<hr>
    <img src="http://postfiles1.naver.net/MjAxNzA1MTBfMTE5/MDAxNDk0NDA2NTAwMzUw.ddrCOlL82fEHqwLG-Zj6Hb9MJK_d7lNWLocb9oOfMZ8g.WYWJ2w_1Zdo4RNRPyzZbHVEKbfAEyRQdPY69seMwnSYg.JPEG.allviewkorea/1.JPG?type=w966" class="imagesize"></img>
<hr>
        </div>
    </div>
</div>